/*.header {
    background-color: #F1F1F1;
    text-align: center;
    padding: 20px;
}

.body-content {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=message] {
    width: 80%;
} */