.message {
    font-weight: 620;
    color: rgb(245, 7, 46);
}

.navbar {
    background-color: rgb(12, 97, 72);
    /* grey */
    font-size: 1.6em;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(53, 54, 54);
    padding: 8px 5px 8px 5px;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 2.8em;
    /*1.2 */
    font-weight: 700;
    /*600 */
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 50px;
}

.button {
    background-color: #4c6baf;
    border: none;
    color: rgb(0, 0, 0);
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid;
    padding: 0.5rem;
    text-align: left;
}

.p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

.body-content {
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[name=message] {
    width: 70%;
}

.message_list th,
td {
    text-align: center;
    padding-right: 15px;
}