{% extends "bullsAndCows/layout.html" %} {% block title %} Choose a bulls and cows gamemode {% endblock %} {% block content %}

<html>

<body>

    <h3 class="h"> Please select a game</h3>


    <button class="button" onclick="location.href = '/guess'"> Guess a word </button>

    <button class="button" onclick="location.href = '/computerGuess'"> Have your word guessed </button>

    <button class="button" onclick="location.href = '/rules'"> How to play </button>




</body>

</html>


{% endblock %}