{% extends "bullsAndCows/layout.html" %} {% block title %} Computer guess {% endblock %} {% block content %}

<h3> Please enter an English word of your choice and I will guess what it is</h3>

<form action="{% url 'bullsAndCowsAI' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button type="submit">Check</button>
</form>

<button onclick="location.href = '/computerGuess'"> Play New Game</button>

<button onclick="location.href = '/startpage'">Exit game</button>

<p> Bulls count : </p>


<p> Cows count : </p>



<p id="gallery-paragraph-1"> Number of guesses: </p>
<p id="gallery-paragraph-2"> {{i}} </p>


<p> {{ guessCount }}</p>

<p> word that user entered down below:</p>

<p> {{ user_word }} </p>

<p> word that computer guessed, displayed separted by commas:</p>

<p> {{ actual_word }}</p>



<p></p>
<p></p>
<p></p>




<!--<form action="{% url 'bullsAndCowsAI' %}" method="get">
    <input type="text" name="choice" [placeholder]="choice">
    <button type="submit">Check</button>
</form>-->


<p> Notes: currently returns user input, but does not display bulls and cows information, error handling for non-roman alphabet input needs to be added</p> {% endblock %}