{% extends "bullsAndCows/layout.html" %} {% block title %} Bulls and Cows: Computer guess {% endblock %} {% block content %}

<h3 class="h"> Please enter an English word of your choice and I will guess what it is</h3>

<form action="{% url 'bullsAndCowsAI' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button class="submit" type="submit">Enter</button>
</form>

<table>
    <tr>
        <th> Game information</th>
        <th></th>
    </tr>
    <tr>
        <td>Word that user has entered:</td>
        <td> {{ userWord }}</td>
    </tr>
    <tr>
        <td> Bulls count:</td>
        <td> {{bullsAI}} </td>
    </tr>
    <tr>
        <td>Cows count:</td>
        <td> {{cowsAI}}</td>
    </tr>
    <tr>
        <td> Number of guesses:</td>
        <td>{{guessCount}}</td>
    </tr>
    <tr>
        <td> Word that computer guessed, displayed separted by commas:</td>
        <td>{{actualWord}}</td>
    </tr>
</table>

<button onclick="location.href = '/computerGuess'" class="button"> Play New Game</button>

<button onclick="location.href = '/startpage'" class="button">Exit game</button> {% endblock %}