{% extends "bullsAndCows/layout.html" %} {% block title %} Bulls and Cows: Computer guess {% endblock %} {% block content %}

<h3 class="h"> Please enter a word of your choice and I will guess what it is</h3>

<form action="{% url 'bullsAndCowsAI' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button class="submit" type="submit">Enter</button>
</form>


<h3> Game information</h3>
<table>
    <tr>
        <td>Word that has been entered by user:</td>
        <td> {{ userWord}}</td>
    </tr>
    <tr>
        <td> Bulls count:</td>
        <td> {{bullsAI}} </td>
    </tr>
    <tr>
        <td> Number of guesses:</td>
        <td>{{guessCount}}</td>
    </tr>
    <tr>
        <td> Word that computer guessed, displayed separted by commas:</td>
        <td>{{actualWord}}</td>
    </tr>
</table>

<h3> Full output from function displayed</h3>
<table>
    <tr>
        <th> Number of guesses:</th>
        <th>Letter being guessed:</th>
        <th> Bulls count:</th>
        <th> Word that computer guessed, displayed separted by commas:</th>
    </tr>
    <tr>
        <td>{{displayCount}}</td>
        <td>{{displayLetter}}</td>
        <td> {{displayBull}} </td>
        <td>{{actualWord}}</td>
    </tr>
</table>



<button onclick="location.href = '/computerGuess'" class="button"> Play New Game</button>

<button onclick="location.href = '/startpage'" class="button">Exit game</button> {% endblock %}