{% extends "bullsAndCows/layout.html" %} {% block title %} User guess {% endblock %} {% block content %}

<h3> Please enter a 4 letter English word as your guess below</h3>

<form action="{% url 'bullsCows' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button type="submit" class="button">Check</button>
</form>

<button class="button" onclick="location.href = '/guess'"> Play New Game</button>

<button onclick="location.href = '/startpage'" class="button"> Exit game</button>

<table>
    <tr>
        <td> Bulls count:</td>
        <td> {{bulls}} </td>
    </tr>
    <tr>
        <td>Cows count:</td>
        <td> {{cows}}</td>
    </tr>
    <tr>
        <td> Number of guesses:</td>
        <td>{{count}}</td>
    </tr>
    <tr>
        <td> Correct answer:</td>
        <td>{{word}}</td>
    </tr>
</table>


<p> {{ msg }}</p>



{% endblock %}