{% extends "bullsAndCows/layout.html" %} {% block title %} User guess {% endblock %} {% block content %}

<h3> Please enter a 4 letter English word as your guess below</h3>

<form action="{% url 'bullsCows' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button type="submit">Check</button>
</form>

<button class="button" onclick="location.href = '/guess'"> Play New Game</button>

<button onclick="location.href = '/startpage'" class="button"> Exit game</button>

<p class="p"> Bulls count : </p>

<p> {{bulls}} </p>

<p class="p"> Cows count : {{cows }}</p>

<p> Number of guesses: </p>

<p> {{ count }} </p>

<p> {{ jum_word }}</p>

<p> Correct answer </p>

<p> {{ word }} </p>

<p> {{ msg }}</p>

<p> Error: {{ error }} </p>

<p> Notes: </p>

{% endblock %}