{% extends "bullsAndCows/layout.html" %} {% block title %} User guess {% endblock %} {% block content %}

<p> Bulls count : </p>

<p> {{bulls}} </p>

<p> Cows count : </p>

<p> {{cows }} </p>

<p> Number of guesses: </p>

<p> {{ count }} </p>

<p> {{ jum_word }}</p>

<p> {{ word }} </p>

<p> {{ msg }}</p>

<form action="{% url 'bullsCows' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button type="submit">Check</button>
</form>

<button onclick="location.href = '/guess'"> Play New Game</button>

<button onclick="location.href = '/startpage'"> Exit game</button>



<!--<button onclick="location.href = '/startpage'"> Exit game</button> -->
{% endblock %}