{% extends "bullsAndCows/layout.html" %} {% block title %} Hangman {% endblock %} {% block content %}

<h3> Please enter a single letter below to guess. If you enter the wrong letter 5 times you lose</h3>

<form action="{% url 'hang' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button class="button" type="submit">Enter</button>
</form>

<button onclick="location.href = '/hangman'" class="button"> Play New Game</button>

<button onclick="location.href = '/startpage'" class="button"> Exit game</button>

<table>
    <tr>
        <th> Game information</th>
        <th></th>
    </tr>
    <tr>
        <td> lettters left in word to guess:</td>
        <td> {{ hword }}</td>
    </tr>
    <tr>
        <td> Correct letters that have been guessed:</td>
        <td>{{halready_guessed}}</td>
    </tr>
    <tr>
        <td> Incorrect letters:</td>
        <td>{{wrongLetter}}</td>
    </tr>
    <tr>
        <td> Number of incorrect guesses:</td>
        <td> {{hcount}} </td>
    </tr>
    <tr>
        <td>Number of total guesses:</td>
        <td> {{totalHang}}</td>
    </tr>
</table>



<style>
    img {
        display: block;
        margin-left: 430px;
        margin-top: -280px;
        width: 25%;
        height: 25%;
    }
</style>



{% if hcount == 1 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman1.png' %}" alt="hangman1" width="228" height="228"> {% endif %} {% if hcount == 2 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman2.png' %}" alt="hangman2"> {% endif %} {% if hcount == 3 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman3.png' %}" alt="hangman3"> {% endif %} {% if hcount == 4 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman4.png' %}" alt="hangman4"> {% endif %} {% if hcount == 5 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman5.png' %}" alt="hangman5"> {% endif %} {% endblock %}