{% extends "bullsAndCows/layout.html" %} {% block title %} Hangman {% endblock %} {% block content %}

<h3> Please enter a single letter below to guess. If you enter the wrong letter 5 times you lose</h3>

<form action="{% url 'hang' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button type="submit">Enter</button>
</form>

<button onclick="location.href = '/hangman'"> Play New Game</button>

<button onclick="location.href = '/startpage'"> Exit game</button>

<p> Letters left in word to guess: </p>

<p> {{ hword }}</p>

<p> Number of incorrect guesses: </p>

<p> {{ hcount }}</p>

<p> Number of total guesses: </p>

<p> {{totalHang}}</p>

<p> Correct letters that have been guessed:</p>

<p> {{halready_guessed}} </p>

<p> incorrect guesses</p>

<p> {{wrongLetter}}</p>



{% if hcount == 1 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman1.png' %}" alt="hangman1"> {% endif %} {% if hcount == 2 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman2.png' %}" alt="hangman2"> {% endif %} {% if hcount == 3 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman3.png' %}" alt="hangman3"> {% endif %} {% if hcount == 4 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman4.png' %}" alt="hangman4"> {% endif %} {% if hcount == 5 %} {% load static %}
<img src="{% static 'bullsAndCows/hangman5.png' %}" alt="hangman5"> {% endif %} {% endblock %}