<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>{% block title %} test title {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'bullsAndCows/site.css' %}" />

</head>

<body>
    <div class="navbar">
        <a href="{% url 'home' %}" class="navbar-item">Home</a>
        <a href="{% url 'guess' %}" class="navbar-item">Guess for game</a>
        <a href="{% url 'computerGuess' %}" class="navbar-item">player v computer</a>
        <a href="{% url 'log' %}" class="navbar-item">Log Message</a>
        <a href="{% url 'input' %}" class="navbar-item">input</a>
    </div>

    <hr>

    <div class="body-content">
        {% block content %} test {% endblock %}
        <hr/>
        <footer>
            <p>Final Year Project Eric Looby</p>
        </footer>
    </div>


</body>

</html>