{% extends "bullsAndCows/layout.html" %} {% block title %} Mixed Word {% endblock %} {% block content %}

<h3> Please enter a 4 letter english word to guess the mixed up word</h3>

<form action="{% url 'checkans' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button class="button" type="submit">Check</button>
</form>

<table>
    <tr>
        <th> Game information</th>
        <th></th>
    </tr>
    <tr>
        <td> Mixed word:</td>
        <td> {{mixedWord}} </td>
    </tr>
    <tr>
        <td>Number of guesses:</td>
        <td> {{i}}</td>
    </tr>
    <tr>
        <td> Correct answer:</td>
        <td>{{wordm}}</td>
    </tr>
</table>

<button onclick="location.href = '/mixed'" class="button">Start new game</button>

<button onclick="location.href = '/startpage'" class="button">Exit game</button> {% endblock %}