{% extends "bullsAndCows/layout.html" %} {% block title %} Computer guess {% endblock %} {% block content %}

<p> PLease enter a 4 letter english word to guess the mixed up word</p>

<p> Bulls count : </p>
<p> Cows count : </p>
<p id="numberGuesses"> Number of guesses: </p>
<p id="figure"> {{i}} </p>


<p> {{ word }} </p>

<p> {{ msg }}</p>

<form action="{% url 'check' %}" method="get">
    <input type="text" name="answer" [placeholder]="Your Guess">
    <button type="submit">Check</button>
</form>



<button onclick="location.href = '/startpage'">Exit game</button>
<p> used to help testing different algorithms, etc so I keep my current progress on two main programs</p> {% endblock %}