{% extends "bullsAndCows/layout.html" %} {% block title %} how to play {% endblock %} {% block content %}
<h> Bulls and cows </h>

<p> Bulls and cows is a game which involves one player guessing a word </p>

<p> For each guess you receive a cow if one of the letters you guessed is in the word </p>
<p>and a bull if you have the correct letter and the correct position in the word</p>

<p>you win the game by getting all of your letters to be bulls and therefore the correct word </p>


<h> Hangman </h>

<p> you have 5 guesses to guess the letters that make up an unknown word </p>

<h> Mixed word</h>

<p> You will be shown a word which is mixed up and you must guess what word it is based on the letters you can see</p>

<button onclick="location.href = '/startpage'">Return home</button> {% endblock %}